node_modules/
npm-debug.log
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
/build/
/.env
.eslintcache
.terraform/
*.tfstate
*.tfstate.backup
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.env
.env.local
